$even-box: #eee;
$odd-box: #333;
$border-color: #000;
.container {
    display: flex;
    justify-content: start;
  }
  
  .chessboard {
    position: inherit;
    margin-top: auto; /* Push chessboard to the bottom of the container */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
    border: 2px solid $border-color;
  }  
  .square {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    font-weight: bold;
  }
  .wh{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Chess_plt45.svg/45px-Chess_plt45.svg.png);  
  }
  .white {
    background-color: $even-box;
  }
  
  .black {
    background-color:$odd-box;
    color: white;
  }
  

